* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #e9e7e7;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #a0a0a0;
}

input[type="submit"] {
  background-color: #06b4b4;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 30px;
}

input[type="submit"]:hover {
  background-color: #011102;
}

.container {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* .container2 {
  display:flex;
  flex-direction: column;
	justify-content: center;
} */

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.col-30 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

textarea {
  height: 100px;
  padding: 12px 12px 12px 0;
  margin: 10px 0;
}

/* styling horizontal line */

.dark {
  border-top: 4px solid black;
}

.light {
  border-top: 2px solid grey;
  margin-bottom: 30px;
  
}

.vlight {
  border-top: 2px solid black;
}

p {
  color: #a0a0a0;
}

/* end styling horizontal line */

.main-head {
  text-transform: uppercase;
  color: #fff;
  background-color: #002b46;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

header,
.footer,.middle {
  text-align: center;
}

header {
  font-weight: bold;
}

.info {
  margin-bottom: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .col-30 {
    float: left;
    width: 40% !important;
    margin-top: 6px;
  }
}
