*{

    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}

input, textarea, select, button {
    
    font-family:inherit;
    font-size: inherit;
    box-sizing: border-box;
  }

  textarea{
  
  resize: horizontal;
  
  
  border:0;
  
 
  
    display : block;
  
    padding : 10px;
    margin  : 10px 0 0 -10px;
    width   : 100%;
    height  : 90%;
  
    border-right: 1px solid;
  
    /* resize  : none; */
    overflow: auto;
  
  }

  button {
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    transform    : rotate(-1.5deg);
  }
  
  button:after {
    content      : " >>>";
  }
  
  button:hover,
  button:focus {
    outline     : none;
    background  : #000;
    color       : #FFF;
  }

  

  input[type=text] , input[type=radio] , input[type=checkbox], textarea{
    padding: 10px;
    margin:5px 0;
   
  }

  label{

    color:grey;
   
        font : .8em "typewriter", sans-serif;
      }
  
  select {
  
    padding:10px;
    background-color: rgb(240, 240, 240);
    border: none;
  }

  .border-remove {
    border: none;
    background-color: rgb(240, 240, 240);
  }

.main-head{

   
    width: 60%;
    
}




.button{
background-color: turquoise; 
border:none ;


padding: 15px;
color: white;
font-weight: bold;
}



.info{

    margin: 10px;
}

/* styling horizontal line */

.dark{

    border-top: 3px solid black;
}

.light{

    border-top: 2px solid grey;
}

.vlight{

    border-top: 2px solid black;
}

/* end styling horizontal line */

.contact{

    text-transform: uppercase;
    color: #fff;
    background-color: blueviolet;
    padding: 15px;
    margin-bottom: 30px;
}

.tagline{

    color:lightgrey;
    margin:0 0 15px 0 ;

}
.foot{

   margin:15px; 
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

  fieldset {
    position: relative;
  }
  
  legend {
    position: absolute;
    bottom: 0;
    right: 0;
  }


/* media screen for ::-moz-list-bullet
input {
    width:100%;
  } */

